.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-45deg, #0f172a, #1d293d, #0f2b87, #1e293b);
    background-size: 400% 400%;
    color: white;
    padding: 0 20px;
    animation: gradientMove 20s ease infinite;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.highlight {
    background: linear-gradient(90deg, #3b82f6, #10b981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #3b82f6;
}

.highlight {
    color: #60a5fa;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #cbd5e1;
}

.subtitle span {
    color: #3b82f6;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.btn.primary {
    background-color: #1e40af;
    /* darker blue */
    color: white;
    box-shadow: 0px 4px 10px rgba(30, 64, 175, 0.5);
}

.btn.primary:hover {
    background-color: #1e3a8a;
    transform: translateY(-2px);
}

.btn.secondary {
    border: 2px solid #1e40af;
    color: #1e40af;
    background: transparent;
}

.btn.secondary:hover {
    background: #1e40af;
    color: white;
    transform: translateY(-2px);
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
       
    }
}
.hero-content {
    position: relative;
    z-index: 1;
    animation: floatUpDown 3s ease-in-out infinite;
}
